<html>
<head></head>
<body>
<form url="/products" method="post">
  <input type="text" name="name" value="">
  <input type="text" name="code" value="">
  <input type="text" name="price" value="">
</form>
</body>
</html>